* {
	font-family: 'Oswald', sans-serif;
	font-weight: bold;
}
.container {
	display: flex;
	justify-content: space-around;
}
.date-form {
	.date {
		position: relative;
		right: 150px;
		bottom: -42px;
	}
	.p-date {
		position: relative;
		display: flex;
		justify-content: space-between;
		left: -9.5vw;
		bottom: -5.6vh;
	}
}
.value-form {
	p {
		position: relative;
		display: flex;
		justify-content: space-evenly;
		top: -4vh;
		left: 2vw;
	}
}
.text-red{
	color: red;
}
