* {
	font-family: 'Oswald', sans-serif;
	font-weight: bold;
	box-sizing: border-box;
}
html {
	overflow: visible;
}
h1 {
	display: flex;
	flex-direction: column;
	margin-left: 10px;
}
.funds-form {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	.input-group-text {
		width: 6.2vw;
	}
}
.input-group {
	max-height: 10px;
}
.save-btn {
	position: absolute;
	right: 21.3%;
	bottom: 80%;
	height: 5.3rem;
	// #save-btn{

	// }
}
.text-red.form-control {
	color: red;
}
.text-lime.form-control {
	color: rgb(22, 207, 22);
}
.saved-datas {
	display: none;
	position: relative;
	bottom: -80px;
	display: none;
	justify-content: center;
	width: 100%;

	h1 {
		font-size: 20px;
		align-items: center;
	}
}

#actual-courses {
	max-height: 5vh;
}
.courses {
	display: flex;
	color: lime;
	letter-spacing: 1px;
}
.addDisplay {
	display: flex;
}
.tableValidation {
	color: red;
	font-size: 20px;
	align-items: center;
}
.cancelButton {
	display: flex;
	justify-content: center;
	cursor: pointer;
}

@media screen and (min-width: 370px) and (max-width: 667px) {
	.funds-form {
		display: inline-flex;
		flex-wrap: wrap;
		height: 40vh;
		justify-content: center;
		width: 60%;
		.input-group-text {
			width: 50%;
		}
	}
	.input-group {
		max-height: 6px;
	}
	.save-btn {
		display: flex;
		position: absolute;
		right: 40.3%;
		bottom: 55%;
		height: 2.5rem;
	}
	.saved-datas {
		position: relative;
		bottom: -50px;
		display: none;
		width: 127%;

		h1 {
			font-size: 20px;
			align-items: center;
		}
	}
	.addDisplay {
		display: flex;
	}
}
